---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe";
---

<BaseLayout title="About Me | Tristen Y" description="å…³äºŽ Tristen Y">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About Me" tagline="Hi ðŸ‘‹ðŸ»,  I'm Tristen Y">
      </Hero>
      <section>
        <AboutMe client:load></AboutMe>
      </section>
    </main>
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }



  @media (min-width: 50em) {
    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
